# Arquivos de configuração sensíveis
config/db_config.ini

# Arquivos gerados
*.xlsx
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Arquivos temporários
*.swp
*.bak
*~
